pre, p {
    font-size: 1.5em;
    color:white;
    
    
}

div.card-header{
    background-image:url("https://i.blogs.es/57acbf/star2/450_1000.jpg");   
  }

div{
   font-size: 1.0em;
    color:white;
  ;
}

p {
  background-image: none;
  font-size: 1.5em;
  color:white;
}

span {
    font-weight: bold;
  }

  article{
    background-color: yellow;  
  }
