<div class="container">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark mt-3">

    <a class="navbar-brand" href="#">
      <img src="assets/images/star-wars.png" width="30" height="30" class="d-inline-block align-top" alt="">
      Star-Wars
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" [routerLink]="['/films']">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Query
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" [routerLink]="['/people']">People</a>
            <a class="dropdown-item" [routerLink]="['/films']">Films</a>
            <a class="dropdown-item" [routerLink]="['/starships']">Starships</a>
            <a class="dropdown-item" [routerLink]="['/vehicles']">Vehicles</a>
            <a class="dropdown-item" [routerLink]="['/species']">Species</a>
            <a class="dropdown-item" [routerLink]="['/planets']">Planets</a>
          </div>
        </li>
      </ul>

    </div>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          User
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Logout</a>
        </div>
      </li>
    </ul>
  </nav><!-- end menu-->

  <!-- Routing -->
  <router-outlet></router-outlet>

</div>